<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>GSoC '16 &bull; Arsalan Bashir'</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
	<div style="width: 65%; margin: 0 auto; padding-top: 30px;">
		<h3 style="text-align: left; font-family: Arial, sans-serif; color: #CC0000; font-size: 30px;">Pulsars, visualized.</h3>
		<p style="font-family: Arial, sans-serif;"><a style="color: #c00" href="http://arsln.co">Arsalan Bashir</a> for GSoC '16 @ McGill Space Insitute.</p>
		<a style="font-family: Arial, sans-serif; color: #c00" href="https://github.com/ArsalanBashir/nanograv">View code on Github</a>
	<div id="graph" style="width: 100%; border: 1px #DDD solid; border-radius: 5px; padding: 10px; border-bottom: 2px #DDD solid; margin-top: 40px;"></div>
	</div>
</body>
<script src="/static/script.js"></script>
</html>
